.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logotype {
  width: 32px;
  height: 32px;

  position: relative;

  span {
    position: absolute;
    right: 0;
    top: 5px;

    display: block;

    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
  }
}

.header__navigation {
}

.header__list {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__item {
  a {
    display: block;

    transition: all 0.1s linear;
  }

  a:hover {
    transform: translateY(-3px);
  }
}
