.shop {
  margin-top: 60px;
}

.shop__wrapper {
}

.shop__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.shop__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  row-gap: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  overflow: hidden;
}

.shop__item_image {
  margin: 0 auto;
  img {
    height: 200px;
  }
}

.shop__item_title {
  text-align: left;
}

.shop__item_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.shop__item_button {
  margin-top: auto;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 0;

    text-transform: uppercase;

    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 100%;

    transition: all 0.2s linear;

    &:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
  }
}
